@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
    
$background_color: #161717;
$icon: #8a8b8c;
$font_color: #F3F3F3;
$batterie_color: #2D2F33;
$user_color: #2F2F2F;
$gage_color: #3367ff;

$font: 'Oxygen', sans-serif;


$font_size_first_phone: 1.5rem;
$font_size_second_phone: 20px;
$font_size_three_phone: 1rem;
$font_size_four_phone: small;


$font_size_first_tablette: 2rem;
$font_size_second_tablette: 30px;
$font_size_three_tablette: 1.5rem;
$font_size_four_tablette: medium;

